NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP=5511953232468
NEXT_PUBLIC_PHONE_DISPLAY=+55 11 95323-2468
NEXT_PUBLIC_EMAIL=eng1.paulocesar@gmail.com
NEXT_PUBLIC_INSTAGRAM=https://www.instagram.com/ddo_engpc/
NEXT_PUBLIC_INSTAGRAM_HANDLE=@ddo_engpc
NEXT_PUBLIC_ADDRESS=Avenida Oliveira Freire, São Paulo, 08080-000
NEXT_PUBLIC_HOURS=
